.homepage {
	background-image: url(../images/fuzz.gif);
}

.row {
	margin-left: auto;
	margin-right: auto;
}

.rs-animation {
	text-align: center;
	max-width: 400px;
	padding-top:50px;
	margin-bottom: -50px;
}


.homepage-container {
	background-color: black;
	width: 100%;
	margin: 0 auto;
	z-index: -1;
}

.header {
	font-family: sans-serif;
	font-size: 2em;
	background-color: #f2133c;
	color: black;
	font-weight: bolder;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.link {
    color: rgb(90, 255, 74);
}

.link:hover {
	text-decoration: none !important;
}

.link:active {
	color: #b8ffa1;
}

.header:hover {
	background-color: #5aff4a;
	transition-duration: 0.7s;
	cursor: pointer;
	text-decoration: none !important;
}

.spotlight:hover {
	background-color: #18211b;
}

.intro-text {
	display: flex;
	justify-content: center;
	margin-top: 20%;
	font-family: 'Rokkitt', serif;
	color: #5aff4a;
	text-shadow: 2px 2px #f2133c;
	padding-bottom: 2%;
	font-weight: 400;
}

.subheader {
	display: flex;
	justify-content: center;
	font-family: 'Exo', sans-serif;
	font-size: 1.2em;
	color: #5aff4a;
	padding-bottom: 2%;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: left !important;
}

.latest-music {
	margin: 0 auto;
}

.caption {
	font-family: 'Rokkitt', serif;
	color: white;
	font-size: 20px;
	padding-top: 10%;
	padding-bottom: 25%;
}

.text-link {
	text-decoration: none;
	color: #b8ffa1;
}

.text-link:hover {
	text-decoration: none;
	color: #5aff4a;
}

.link-style:hover {
	text-decoration: none;
	text-shadow: 0 0 5px #5aff4a;
}

.subheader-post {
	font-family: 'Exo', sans-serif;
	font-size: 1.3em;
	color: #5aff4a;
	padding-bottom: 2%;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 600;
}

.para {
	text-align: left;
	font-family: 'Rokkitt';
	color: white;
	font-size: 1.2em;
}

.artist-image {
	text-align: center;
}

.spotify-embed {
	float: right;
	margin: 20px 0px 20px 20px;
}

.spotify-embed-left {
	float: left;
	margin: 20px 20px 20px 0px;
}

.giphy-embed {
	float: right;
	margin: 20px 0px 20px 20px;
	width: 480px;
}

.burger-image {
    float: left;
    width: 400px;
}

.grave-image {
    float: right;
    width: 350px;
    padding-bottom: 80px;
    margin-top: -100px;
    animation-duration: 5s;
    transition-timing-function: ease-in;
    animation-name: fadeUp;
    animation-iteration-count: infinite;
}

@keyframes fadeUp {
	0% {
    opacity: 0;
    transform: translate3d(0px, 25%, 0px);
	}
	50% {s
    opacity: 1;
    transform: none;
}
}

.pull-quote {
	display: flex;
	justify-content: center;
	font-family: 'Exo', sans-serif;
	font-size: 1em;
	color: #5aff4a;
	padding: 2% 0 2% 0;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: left !important;
}

.pull-quote-caption {
	font-family: 'Exo', sans-serif;
	font-size: 1em;
	color: #00da39;
	padding-bottom: 2%;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 5px;
	font-weight: 600;
	text-align: right;
	margin-right: 20px;
}

.pull-quote-burger {
    display: flex;
    justify-content: center;
    font-family: Exo, sans-serif;
    font-size: 1em;
    color: rgb(240, 255, 150);
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: left !important;
    padding: 2% 0px;
}

.term {
    color: rgb(184, 255, 161);
}



.fotuno-pics {
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.fortuno-pic {
	width: 200px;
}

hr {
	background-color: #5aff4a;
	height: 2px !important;
	border-radius: 50px;
}

.writer-bio {
    color: rgb(184, 255, 161);
}

.bio-pic {
    float: left;
    width: 125px;
    right: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.animate__pulse {
	--animate-duration: 2s;
	animation-iteration-count: infinite;
}

.animate__flip {
	--animate-duration: 10s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

.animate-2 {
	animation-delay: 4s !important;
}

.animate-3 {
	animation-delay: 6s !important;
}

.pulse-2 {
	animation-delay: 0.5s;
}

.pulse-3 {
	animation-delay: 1s;
}

.caption {
	text-align: left;
}


.copyright {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 1em;
	color: black;
	padding: 2%;
}

.social {
	padding-top: 50px;
}

.social-icon {
	width: 75px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 575.98px) {
	.rs-animation {
	max-width: 250px;
	}
	.homepage-container {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.giphy-embed {
		max-width: 300px;
	}
}
