.homepage {
	background-image: url(../images/fuzz.gif);
}

.intro-text {
	display: flex;
	justify-content: center;
	margin-top: 20%;
	font-family: serif;
	animation-duration: 5s;
	color: lime;
	text-shadow: 2px 2px red;
}